services:
    bun:
        build:
            context: ./
            dockerfile: Dockerfile
        container_name: api
        ports:
            - 3000:3000
        environment:
            - NODE_ENV=production